
@media(max-width: 1650px), (min-width: 1650px) {
    #header > .header-content > .model-y {
        margin-top: 170px;
    }

    #header > .header-content > .text {
        margin-top: 215px;
    }

    #header > .header-content > .buttons > .btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: -95px;
    }
    
    #header > .header-content > .arrow > .arrow-wrapper {
        top: -50px;
    }

}

@media(max-width:1200px) {
    #header > .header-content > .nav-menu {
        display: none;
    }

    #header > .header-content > .nav-1-menu {
        display: none;
    }
    #header > .header-content > .nav-2-menu {
        top: 30px;
    }

    #header > .header-content > .nav-2d-menu > .nav-2d-button-dropdown {
        display: none;
    }

    #header > .header-content > .img-1 img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    #header > .header-content > .model-y {
        margin-top: 165px;
    }

    #header > .header-content > .text {
        margin-top: 200px;
    }

    .m {
        display: none;
    }

    #header > .header-content > .nav-2-menu > .nav-2-button-dropdown > .nav-2-button > .nav-2-settings {
        height: 1030px;
    }
}


@media(min-width: 1200px) {

    #header > .header-content > .nav-menu {
        top: 15px;

    }

    #header > .header-content > .nav-1-menu {
        top: 15px;
    }

    #header > .header-content > .nav-2-menu {
        display: none;
        
    }

    #header > .header-content > .nav-2d-menu {
        top: 30px;
    }
    
    #header > .header-content > .img-1 img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }

    #header > .header-content > .nav-menu {
        top: 15px;
        margin-top: 30px;
    }

    #header > .header-content > .nav-1-menu > .list-1-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }

}


@media(max-width: 900px) {

    #header > .header-content {
        height: auto;
    }
    #header > .header-content > .model-y {
        margin-top: 170px;
    }

    #header > .header-content > .text {
        margin-top: 215px;
    }

    #header > .header-content > .img-1 img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }
}


@media(max-width: 600px) {
    #header > .header-content > .buttons > .btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: -170px;
    }
    
    
    #header > .header-content > .buttons > .btn-wrapper > .btn-1 {
        width: 350px;
    }

    #header > .header-content > .buttons > .btn-wrapper > .btn-1-b {
        width: 350px;
    }
    
    #header > .header-content > .buttons > .btn-wrapper > .btn-2 {
        margin-left: 0;
        margin-top: 10px;
        width: 350px;
    }
    
    #header > .header-content > .arrow > .arrow-wrapper {
        top: -70px;
    }

    .m {
        display: block;
    }
    
    #header > .header-content > .img-1 > .ch {
        width: 100%;
        height: 100vh;
        object-fit: contain;
        background-color: #f8f8f8;
        
    }
}


@media(max-width: 360px) {
 
    #header > .header-content > .buttons > .btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: -170px;
    }
    
    #header > .header-content > .buttons > .btn-wrapper > .btn-1 {
        width: 280px;
    }

    #header > .header-content > .buttons > .btn-wrapper > .btn-1-b {
        width: 280px;
    }
    
    #header > .header-content > .buttons > .btn-wrapper > .btn-2 {
        margin-left: 0;
        margin-top: 10px;
        width: 280px;
    }

    #header > .header-content > .arrow > .arrow-wrapper {
        top: -70px;
    }

    .footer ol {
        flex-direction: column;
        align-items: center;
    }

    .footer ol li a {
        padding: 5px 0 5px 0;
    }
    
    .n {
        display: none;
    }

    #header > .header-content > .img-1 > .ch {
        width: 100%;
        height: 100vh;
        object-fit: contain;
        background-color: #f8f8f8;
    }
}

@media(max-width: 280px) {
 
    #header > .header-content > .buttons > .btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: -170px;
    }
    
    
    #header > .header-content > .buttons > .btn-wrapper > .btn-2 {
        margin-left: 0;
        margin-top: 10px;
    }

    #header > .header-content > .arrow > .arrow-wrapper {
        top: -70px;
    }
    
    #header > .header-content > .arrow {
        page-break-after: always;
    }



    #header > .content > .buttons > .btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: -170px;
    }
    
    
    #header > .content  > .buttons > .btn-wrapper > .btn-2 {
        margin-left: 0;
        margin-top: 10px;
    }

    #header > .content > .arrow > .arrow-wrapper {
        top: -70px;
    }
}